APP_NAME=Telegram
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL={{ url }}

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

PHP_CLI_SERVER_WORKERS=4
BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION={{ db_connection }}
DB_HOST={{ db_host }}
DB_PORT={{ db_port }}
DB_DATABASE={{ db_name }}
DB_USERNAME={{ db_user }}
DB_PASSWORD={{ db_password }}

APP_SERVICE=core-api
APP_PORT={{ laravel_app_port }}
FORWARD_DB_PORT={{ db_port }}
FORWARD_REDIS_PORT={{ redis_port }}
VITE_PORT={{ laravel_vite_port }}

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

QUEUE_CONNECTION=redis
CACHE_STORE=redis
CACHE_PREFIX=

REDIS_CLIENT={{ redis_client }}
REDIS_HOST={{ redis_host }}
REDIS_PASSWORD={{ redis_password }}
REDIS_PORT={{ redis_port }}

MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="Telegram"

AWS_DEFAULT_REGION=us-east-1
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="Telegram"

FRONTEND_URL={{ front_end_url }}

MINIO_ENDPOINT={{ minio_endpoint }}
MINIO_KEY={{ minio_key }}
MINIO_SECRET={{ minio_secret }}
TUSD_URL={{ tusd_url }}

BROADCAST_DRIVER={{laravel_broadcast_driver}}

REVERB_APP_ID={{reverb_app_id}}
REVERB_APP_KEY={{reverb_app_key}}
REVERB_APP_SECRET={{reverb_app_secret}}

REVERB_HOST={{reverb_host}}
REVERB_PORT={{reverb_port}}
REVERB_SCHEME={{reverb_scheme}}
